<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Para jugar ingresa tu usuario y clave</h1>
    <br>
    <form method="POST" action="/login">
        <div>
            <label>Usuario</label>
            <input type="text" name="usuario" placeholder="Ingresa tu nombre de usuario">
        </div>
        <br>
        <div>
            <label>Contraseña</label>
            <input type="text" name="clave" placeholder="Ingresa tu contraseña">
        </div>
        <br>
        <div>
            <input type="submit" value="Entrar">
        </div>
    </form>
    <div>
        <br>
        <a href='/registro'>Registrate!!</a>
    </div>
</body>
</html>

