<html>
    <head>
        <title>Registro</title>
    </head>
    <body>
        <h1>Registrate</h1>
        <br>
        <form method="POST" action="/registro">
            <div>
                <label>Nombre</label>
                <input type="text" name="name" placeholder="Ingresa tu nombre">
                
                <label>Usuario</label>
                <input type="text" name="userId" placeholder="Ingresa tu nombre de usuario">
            </div>
            <br>
            <div>
                <label><strong>Clave</strong></label>
                <input type="password" name="pass" placeholder="Ingresa tu clave">
            </div>
            <br>
            <div>
                <input type="submit" value="Registrar">
            </div>
        </form>
    </body>
</html>