<html>
    <head>
        <title>Registro</title>
    </head>
    <body>
        <h1>Registrate</h1>
        <br>
        <form method="POST" action="/register">
            <div>
                <label>Nombre de Usuario<label>
                <input type="text" name="userId" placeholder="Ingresa tu usuario">
                
                <label>Nombre</label>
                <input type="text" name="name" placeholder="Ingresa tu nombre">
            </div>
            <br>
            <div>
                <label>Contraseña</label>
                <input type="text" name="password" placeholder="Ingresa tu contraseña">
            </div>
            <br>
            <div>
                <input type="submit" value="Registrar">
            </div>
        </form>
    </body>
</html>